<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418335808345-vbchqvin5v9mnkiljtkvumdd0vbvc60u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418335808345-vbchqvin5v9mnkiljtkvumdd0vbvc60u</string>
	<key>API_KEY</key>
	<string>AIzaSyDzq3m7YF3LmX1JqiCfa34h5FdM42X-yDs</string>
	<key>GCM_SENDER_ID</key>
	<string>418335808345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shakib053.SampleFirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>samplefirebaseauthentica-10f73</string>
	<key>STORAGE_BUCKET</key>
	<string>samplefirebaseauthentica-10f73.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418335808345:ios:01ea7f7440e39a5ba88a48</string>
</dict>
</plist>